
/ Font Awesome Icons
/%link{:href => "#{asset_url('fontawesome-free/css/all.min.css')}", :rel => "stylesheet"}/

%body.hold-transition.sidebar-mini
  .wrapper
    / Navbar
    %nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
      / Left navbar links
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link{"data-widget" => "pushmenu", :href => "#"}
            %i.fas.fa-bars
        %li.nav-item.d-none.d-sm-inline-block
          %a.nav-link{:href => "index3.html"} Home
        %li.nav-item.d-none.d-sm-inline-block
          %a.nav-link{:href => "#"} Contact
      / SEARCH FORM
      %form.form-inline.ml-3
        .input-group.input-group-sm
          %input.form-control.form-control-navbar{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
          .input-group-append
            %button.btn.btn-navbar{:type => "submit"}
              %i.fas.fa-search
      / Right navbar links
      %ul.navbar-nav.ml-auto
        / Messages Dropdown Menu
        %li.nav-item.dropdown
          %a.nav-link{"data-toggle" => "dropdown", :href => "#"}
            %i.far.fa-comments
            %span.badge.badge-danger.navbar-badge 3
          .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
            %a.dropdown-item{:href => "#"}
              / Message Start
              .media
                %img.img-size-50.mr-3.img-circle{:alt => "User Avatar", :src => "#{image_url('user1-128x128.jpg')}"}/
                .media-body
                  %h3.dropdown-item-title
                    Brad Diesel
                    %span.float-right.text-sm.text-danger
                      %i.fas.fa-star
                  %p.text-sm Call me whenever you can...
                  %p.text-sm.text-muted
                    %i.far.fa-clock.mr-1
                    4 Hours Ago
              / Message End
            .dropdown-divider
            %a.dropdown-item{:href => "#"}
              / Message Start
              .media
                %img.img-size-50.img-circle.mr-3{:alt => "User Avatar", :src => "#{image_url('user1-128x128.jpg')}"}/
                .media-body
                  %h3.dropdown-item-title
                    John Pierce
                    %span.float-right.text-sm.text-muted
                      %i.fas.fa-star
                  %p.text-sm I got your message bro
                  %p.text-sm.text-muted
                    %i.far.fa-clock.mr-1
                    4 Hours Ago
              / Message End
            .dropdown-divider
            %a.dropdown-item{:href => "#"}
              / Message Start
              .media
                %img.img-size-50.img-circle.mr-3{:alt => "User Avatar", :src => "#{image_url('user3-128x128.jpg')}"}/
                .media-body
                  %h3.dropdown-item-title
                    Nora Silvester
                    %span.float-right.text-sm.text-warning
                      %i.fas.fa-star
                  %p.text-sm The subject goes here
                  %p.text-sm.text-muted
                    %i.far.fa-clock.mr-1
                    4 Hours Ago
              / Message End
            .dropdown-divider
            %a.dropdown-item.dropdown-footer{:href => "#"} See All Messages
        / Notifications Dropdown Menu
        %li.nav-item.dropdown
          %a.nav-link{"data-toggle" => "dropdown", :href => "#"}
            %i.far.fa-bell
            %span.badge.badge-warning.navbar-badge 15
          .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
            %span.dropdown-item.dropdown-header 15 Notifications
            .dropdown-divider
            %a.dropdown-item{:href => "#"}
              %i.fas.fa-envelope.mr-2
              4 new messages
              %span.float-right.text-muted.text-sm 3 mins
            .dropdown-divider
            %a.dropdown-item{:href => "#"}
              %i.fas.fa-users.mr-2
              8 friend requests
              %span.float-right.text-muted.text-sm 12 hours
            .dropdown-divider
            %a.dropdown-item{:href => "#"}
              %i.fas.fa-file.mr-2
              3 new reports
              %span.float-right.text-muted.text-sm 2 days
            .dropdown-divider
            %a.dropdown-item.dropdown-footer{:href => "#"} See All Notifications
        %li.nav-item
          %a.nav-link{"data-slide" => "true", "data-widget" => "control-sidebar", :href => "#"}
            %i.fas.fa-th-large
    / /.navbar
    / Main Sidebar Container
    %aside.main-sidebar.sidebar-dark-primary.elevation-4
      / Brand Logo
      %a.brand-link{:href => "index3.html"}
        %img.brand-image.img-circle.elevation-3{:alt => "AdminLTE Logo", :src => "#{image_url('AdminLTELogo.png')}", :style => "opacity: .8"}/
        %span.brand-text.font-weight-light AdminLTE 3
      / Sidebar
      .sidebar
        / Sidebar user panel (optional)
        .user-panel.mt-3.pb-3.mb-3.d-flex
          .image
            %img.img-circle.elevation-2{:alt => "User Image", :src => "#{image_url('user2-160x160.jpg')}"}/
          .info
            %a.d-block{:href => "#"} Alexander Pierce
        / Sidebar Menu
        %nav.mt-2
          %ul.nav.nav-pills.nav-sidebar.flex-column{"data-accordion" => "false", "data-widget" => "treeview", :role => "menu"}
            /
              Add icons to the links using the .nav-icon class
              with font-awesome or any other icon font library
            %li.nav-item.has-treeview.menu-open
              %a.nav-link.active{:href => "#"}
                %i.nav-icon.fas.fa-tachometer-alt
                %p
                  Dashboard
                  %i.right.fas.fa-angle-left
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "./index.html"}
                    %i.far.fa-circle.nav-icon
                    %p Dashboard v1
                %li.nav-item
                  %a.nav-link{:href => "./index2.html"}
                    %i.far.fa-circle.nav-icon
                    %p Dashboard v2
                %li.nav-item
                  %a.nav-link.active{:href => "./index3.html"}
                    %i.far.fa-circle.nav-icon
                    %p Dashboard v3
            %li.nav-item
              %a.nav-link{:href => "pages/widgets.html"}
                %i.nav-icon.fas.fa-th
                %p
                  Widgets
                  %span.right.badge.badge-danger New
            %li.nav-item.has-treeview
              %a.nav-link{:href => "#"}
                %i.nav-icon.fas.fa-copy
                %p
                  Layout Options
                  %i.fas.fa-angle-left.right
                  %span.badge.badge-info.right 6
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "pages/layout/top-nav.html"}
                    %i.far.fa-circle.nav-icon
                    %p Top Navigation
                %li.nav-item
                  %a.nav-link{:href => "pages/layout/top-nav-sidebar.html"}
                    %i.far.fa-circle.nav-icon
                    %p Top Navigation + Sidebar
                %li.nav-item
                  %a.nav-link{:href => "pages/layout/boxed.html"}
                    %i.far.fa-circle.nav-icon
                    %p Boxed
                %li.nav-item
                  %a.nav-link{:href => "pages/layout/fixed-sidebar.html"}
                    %i.far.fa-circle.nav-icon
                    %p Fixed Sidebar
                %li.nav-item
                  %a.nav-link{:href => "pages/layout/fixed-topnav.html"}
                    %i.far.fa-circle.nav-icon
                    %p Fixed Navbar
                %li.nav-item
                  %a.nav-link{:href => "pages/layout/fixed-footer.html"}
                    %i.far.fa-circle.nav-icon
                    %p Fixed Footer
                %li.nav-item
                  %a.nav-link{:href => "pages/layout/collapsed-sidebar.html"}
                    %i.far.fa-circle.nav-icon
                    %p Collapsed Sidebar
            %li.nav-item.has-treeview
              %a.nav-link{:href => "#"}
                %i.nav-icon.fas.fa-chart-pie
                %p
                  Charts
                  %i.right.fas.fa-angle-left
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "pages/charts/chartjs.html"}
                    %i.far.fa-circle.nav-icon
                    %p ChartJS
                %li.nav-item
                  %a.nav-link{:href => "pages/charts/flot.html"}
                    %i.far.fa-circle.nav-icon
                    %p Flot
                %li.nav-item
                  %a.nav-link{:href => "pages/charts/inline.html"}
                    %i.far.fa-circle.nav-icon
                    %p Inline
            %li.nav-item.has-treeview
              %a.nav-link{:href => "#"}
                %i.nav-icon.fas.fa-tree
                %p
                  UI Elements
                  %i.fas.fa-angle-left.right
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "pages/UI/general.html"}
                    %i.far.fa-circle.nav-icon
                    %p General
                %li.nav-item
                  %a.nav-link{:href => "pages/UI/icons.html"}
                    %i.far.fa-circle.nav-icon
                    %p Icons
                %li.nav-item
                  %a.nav-link{:href => "pages/UI/buttons.html"}
                    %i.far.fa-circle.nav-icon
                    %p Buttons
                %li.nav-item
                  %a.nav-link{:href => "pages/UI/sliders.html"}
                    %i.far.fa-circle.nav-icon
                    %p Sliders
                %li.nav-item
                  %a.nav-link{:href => "pages/UI/modals.html"}
                    %i.far.fa-circle.nav-icon
                    %p Modals & Alerts
                %li.nav-item
                  %a.nav-link{:href => "pages/UI/navbar.html"}
                    %i.far.fa-circle.nav-icon
                    %p Navbar & Tabs
                %li.nav-item
                  %a.nav-link{:href => "pages/UI/timeline.html"}
                    %i.far.fa-circle.nav-icon
                    %p Timeline
                %li.nav-item
                  %a.nav-link{:href => "pages/UI/ribbons.html"}
                    %i.far.fa-circle.nav-icon
                    %p Ribbons
            %li.nav-item.has-treeview
              %a.nav-link{:href => "#"}
                %i.nav-icon.fas.fa-edit
                %p
                  Forms
                  %i.fas.fa-angle-left.right
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "pages/forms/general.html"}
                    %i.far.fa-circle.nav-icon
                    %p General Elements
                %li.nav-item
                  %a.nav-link{:href => "pages/forms/advanced.html"}
                    %i.far.fa-circle.nav-icon
                    %p Advanced Elements
                %li.nav-item
                  %a.nav-link{:href => "pages/forms/editors.html"}
                    %i.far.fa-circle.nav-icon
                    %p Editors
                %li.nav-item
                  %a.nav-link{:href => "pages/forms/validation.html"}
                    %i.far.fa-circle.nav-icon
                    %p Validation
            %li.nav-item.has-treeview
              %a.nav-link{:href => "#"}
                %i.nav-icon.fas.fa-table
                %p
                  Tables
                  %i.fas.fa-angle-left.right
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "pages/tables/simple.html"}
                    %i.far.fa-circle.nav-icon
                    %p Simple Tables
                %li.nav-item
                  %a.nav-link{:href => "pages/tables/data.html"}
                    %i.far.fa-circle.nav-icon
                    %p DataTables
                %li.nav-item
                  %a.nav-link{:href => "pages/tables/jsgrid.html"}
                    %i.far.fa-circle.nav-icon
                    %p jsGrid
            %li.nav-header EXAMPLES
            %li.nav-item
              %a.nav-link{:href => "pages/calendar.html"}
                %i.nav-icon.fas.fa-calendar-alt
                %p
                  Calendar
                  %span.badge.badge-info.right 2
            %li.nav-item
              %a.nav-link{:href => "pages/gallery.html"}
                %i.nav-icon.far.fa-image
                %p
                  Gallery
            %li.nav-item.has-treeview
              %a.nav-link{:href => "#"}
                %i.nav-icon.far.fa-envelope
                %p
                  Mailbox
                  %i.fas.fa-angle-left.right
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "pages/mailbox/mailbox.html"}
                    %i.far.fa-circle.nav-icon
                    %p Inbox
                %li.nav-item
                  %a.nav-link{:href => "pages/mailbox/compose.html"}
                    %i.far.fa-circle.nav-icon
                    %p Compose
                %li.nav-item
                  %a.nav-link{:href => "pages/mailbox/read-mail.html"}
                    %i.far.fa-circle.nav-icon
                    %p Read
            %li.nav-item.has-treeview
              %a.nav-link{:href => "#"}
                %i.nav-icon.fas.fa-book
                %p
                  Pages
                  %i.fas.fa-angle-left.right
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/invoice.html"}
                    %i.far.fa-circle.nav-icon
                    %p Invoice
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/profile.html"}
                    %i.far.fa-circle.nav-icon
                    %p Profile
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/e_commerce.html"}
                    %i.far.fa-circle.nav-icon
                    %p E-commerce
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/projects.html"}
                    %i.far.fa-circle.nav-icon
                    %p Projects
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/project_add.html"}
                    %i.far.fa-circle.nav-icon
                    %p Project Add
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/project_edit.html"}
                    %i.far.fa-circle.nav-icon
                    %p Project Edit
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/project_detail.html"}
                    %i.far.fa-circle.nav-icon
                    %p Project Detail
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/contacts.html"}
                    %i.far.fa-circle.nav-icon
                    %p Contacts
            %li.nav-item.has-treeview
              %a.nav-link{:href => "#"}
                %i.nav-icon.far.fa-plus-square
                %p
                  Extras
                  %i.fas.fa-angle-left.right
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/login.html"}
                    %i.far.fa-circle.nav-icon
                    %p Login
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/register.html"}
                    %i.far.fa-circle.nav-icon
                    %p Register
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/forgot-password.html"}
                    %i.far.fa-circle.nav-icon
                    %p Forgot Password
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/recover-password.html"}
                    %i.far.fa-circle.nav-icon
                    %p Recover Password
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/lockscreen.html"}
                    %i.far.fa-circle.nav-icon
                    %p Lockscreen
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/legacy-user-menu.html"}
                    %i.far.fa-circle.nav-icon
                    %p Legacy User Menu
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/language-menu.html"}
                    %i.far.fa-circle.nav-icon
                    %p Language Menu
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/404.html"}
                    %i.far.fa-circle.nav-icon
                    %p Error 404
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/500.html"}
                    %i.far.fa-circle.nav-icon
                    %p Error 500
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/pace.html"}
                    %i.far.fa-circle.nav-icon
                    %p Pace
                %li.nav-item
                  %a.nav-link{:href => "pages/examples/blank.html"}
                    %i.far.fa-circle.nav-icon
                    %p Blank Page
                %li.nav-item
                  %a.nav-link{:href => "starter.html"}
                    %i.far.fa-circle.nav-icon
                    %p Starter Page
            %li.nav-header MISCELLANEOUS
            %li.nav-item
              %a.nav-link{:href => "https://adminlte.io/docs/3.0"}
                %i.nav-icon.fas.fa-file
                %p Documentation
            %li.nav-header MULTI LEVEL EXAMPLE
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fas.fa-circle.nav-icon
                %p Level 1
            %li.nav-item.has-treeview
              %a.nav-link{:href => "#"}
                %i.nav-icon.fas.fa-circle
                %p
                  Level 1
                  %i.right.fas.fa-angle-left
              %ul.nav.nav-treeview
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.far.fa-circle.nav-icon
                    %p Level 2
                %li.nav-item.has-treeview
                  %a.nav-link{:href => "#"}
                    %i.far.fa-circle.nav-icon
                    %p
                      Level 2
                      %i.right.fas.fa-angle-left
                  %ul.nav.nav-treeview
                    %li.nav-item
                      %a.nav-link{:href => "#"}
                        %i.far.fa-dot-circle.nav-icon
                        %p Level 3
                    %li.nav-item
                      %a.nav-link{:href => "#"}
                        %i.far.fa-dot-circle.nav-icon
                        %p Level 3
                    %li.nav-item
                      %a.nav-link{:href => "#"}
                        %i.far.fa-dot-circle.nav-icon
                        %p Level 3
                %li.nav-item
                  %a.nav-link{:href => "#"}
                    %i.far.fa-circle.nav-icon
                    %p Level 2
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.fas.fa-circle.nav-icon
                %p Level 1
            %li.nav-header LABELS
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.nav-icon.far.fa-circle.text-danger
                %p.text Important
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.nav-icon.far.fa-circle.text-warning
                %p Warning
            %li.nav-item
              %a.nav-link{:href => "#"}
                %i.nav-icon.far.fa-circle.text-info
                %p Informational
        / /.sidebar-menu
      / /.sidebar
    / Content Wrapper. Contains page content
    .content-wrapper
      / Content Header (Page header)
      .content-header
        .container-fluid
          .row.mb-2
            .col-sm-6
              %h1.m-0.text-dark Dashboard v3
            / /.col
            .col-sm-6
              %ol.breadcrumb.float-sm-right
                %li.breadcrumb-item
                  %a{:href => "#"} Home
                %li.breadcrumb-item.active Dashboard v3
            / /.col
          / /.row
        / /.container-fluid
      / /.content-header
      / Main content
      .content
        .container-fluid
          .row
            .col-lg-6
              .card
                .card-header.border-0
                  .d-flex.justify-content-between
                    %h3.card-title Online Store Visitors
                    %a{:href => "javascript:void(0);"} View Report
                .card-body
                  .d-flex
                    %p.d-flex.flex-column
                      %span.text-bold.text-lg 820
                      %span Visitors Over Time
                    %p.ml-auto.d-flex.flex-column.text-right
                      %span.text-success
                        %i.fas.fa-arrow-up
                        12.5%
                      %span.text-muted Since last week
                  / /.d-flex
                  .position-relative.mb-4
                    %canvas#visitors-chart{:height => "200"}
                  .d-flex.flex-row.justify-content-end
                    %span.mr-2
                      %i.fas.fa-square.text-primary
                      This Week
                    %span
                      %i.fas.fa-square.text-gray
                      Last Week
              / /.card
              .card
                .card-header.border-0
                  %h3.card-title Products
                  .card-tools
                    %a.btn.btn-tool.btn-sm{:href => "#"}
                      %i.fas.fa-download
                    %a.btn.btn-tool.btn-sm{:href => "#"}
                      %i.fas.fa-bars
                .card-body.table-responsive.p-0
                  %table.table.table-striped.table-valign-middle
                    %thead
                      %tr
                        %th Product
                        %th Price
                        %th Sales
                        %th More
                    %tbody
                      %tr
                        %td
                          %img.img-circle.img-size-32.mr-2{:alt => "Product 1", :src => "#{image_url('default-150x150.png')}"}/
                          Some Product
                        %td $13 USD
                        %td
                          %small.text-success.mr-1
                            %i.fas.fa-arrow-up
                            12%
                          12,000 Sold
                        %td
                          %a.text-muted{:href => "#"}
                            %i.fas.fa-search
                      %tr
                        %td
                          %img.img-circle.img-size-32.mr-2{:alt => "Product 1", :src => "#{image_url('default-150x150.png')}"}/
                          Another Product
                        %td $29 USD
                        %td
                          %small.text-warning.mr-1
                            %i.fas.fa-arrow-down
                            0.5%
                          123,234 Sold
                        %td
                          %a.text-muted{:href => "#"}
                            %i.fas.fa-search
                      %tr
                        %td
                          %img.img-circle.img-size-32.mr-2{:alt => "Product 1", :src => "#{image_url('default-150x150.png')}"}/
                          Amazing Product
                        %td $1,230 USD
                        %td
                          %small.text-danger.mr-1
                            %i.fas.fa-arrow-down
                            3%
                          198 Sold
                        %td
                          %a.text-muted{:href => "#"}
                            %i.fas.fa-search
                      %tr
                        %td
                          %img.img-circle.img-size-32.mr-2{:alt => "Product 1", :src => "#{image_url('default-150x150.png')}"}/
                          Perfect Item
                          %span.badge.bg-danger NEW
                        %td $199 USD
                        %td
                          %small.text-success.mr-1
                            %i.fas.fa-arrow-up
                            63%
                          87 Sold
                        %td
                          %a.text-muted{:href => "#"}
                            %i.fas.fa-search
              / /.card
            / /.col-md-6
            .col-lg-6
              .card
                .card-header.border-0
                  .d-flex.justify-content-between
                    %h3.card-title Sales
                    %a{:href => "javascript:void(0);"} View Report
                .card-body
                  .d-flex
                    %p.d-flex.flex-column
                      %span.text-bold.text-lg $18,230.00
                      %span Sales Over Time
                    %p.ml-auto.d-flex.flex-column.text-right
                      %span.text-success
                        %i.fas.fa-arrow-up
                        33.1%
                      %span.text-muted Since last month
                  / /.d-flex
                  .position-relative.mb-4
                    %canvas#sales-chart{:height => "200"}
                  .d-flex.flex-row.justify-content-end
                    %span.mr-2
                      %i.fas.fa-square.text-primary
                      This year
                    %span
                      %i.fas.fa-square.text-gray
                      Last year
              / /.card
              .card
                .card-header.border-0
                  %h3.card-title Online Store Overview
                  .card-tools
                    %a.btn.btn-sm.btn-tool{:href => "#"}
                      %i.fas.fa-download
                    %a.btn.btn-sm.btn-tool{:href => "#"}
                      %i.fas.fa-bars
                .card-body
                  .d-flex.justify-content-between.align-items-center.border-bottom.mb-3
                    %p.text-success.text-xl
                      %i.ion.ion-ios-refresh-empty
                    %p.d-flex.flex-column.text-right
                      %span.font-weight-bold
                        %i.ion.ion-android-arrow-up.text-success
                        12%
                      %span.text-muted CONVERSION RATE
                  / /.d-flex
                  .d-flex.justify-content-between.align-items-center.border-bottom.mb-3
                    %p.text-warning.text-xl
                      %i.ion.ion-ios-cart-outline
                    %p.d-flex.flex-column.text-right
                      %span.font-weight-bold
                        %i.ion.ion-android-arrow-up.text-warning
                        0.8%
                      %span.text-muted SALES RATE
                  / /.d-flex
                  .d-flex.justify-content-between.align-items-center.mb-0
                    %p.text-danger.text-xl
                      %i.ion.ion-ios-people-outline
                    %p.d-flex.flex-column.text-right
                      %span.font-weight-bold
                        %i.ion.ion-android-arrow-down.text-danger
                        1%
                      %span.text-muted REGISTRATION RATE
                  / /.d-flex
            / /.col-md-6
          / /.row
        / /.container-fluid
      / /.content
    / /.content-wrapper
    / Control Sidebar
    %aside.control-sidebar.control-sidebar-dark
      / Control sidebar content goes here
    / /.control-sidebar
    / Main Footer
    %footer.main-footer
      %strong
        Copyright © 2014-2019
        = succeed "." do
          %a{:href => "http://adminlte.io"} AdminLTE.io
      All rights reserved.
      .float-right.d-none.d-sm-inline-block
        %b Version
        3.0.2
  / ./wrapper
  